.sidebar-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  width: 20vh;
}
.tweet-upper img {
  height: 60px;
  border-radius: 40px;
}
.post-home {
  display: flex;
  border: 1px solid grey;
  margin-left: 50px;
  margin-right: 43px;
  justify-content: flex-start;
  padding-left: 20px;
}
.post-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar-container a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.tweet-home {
  display: block;
  margin-right: 50px;
  margin-left: 50px;
}
.tweet-container textarea {
  padding-top: 10px;
  padding-left: 10px;
  border: none;
  font-size: 25px;
  color: white;
  width: 98%;
  overflow-y: clip;
}
.tweet-container textarea:focus {
  outline: none;
}

.Feed-Container {
  width: 100%;
  display: block;
  margin-top: -17px;
}
.Feed-home {
  height: 100vh;
  border-top: none;
}
.tweet-container {
  padding-left: 5px;
  margin-right: 200px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid grey;
  border-top: none;
}
.tweet-upper {
  display: flex;
}
.connector-meta {
  background-color: rgb(84, 96, 230);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  padding: 12px;
}
.tweet-bottom {
  padding-left: 000px;
}
.tweet-container button {
  margin-top: 80px;
  float: right;
  color: white;
  background-color: rgb(84, 96, 230);
  padding: 12px;
  font-weight: bold;
  border: none;
  letter-spacing: 1px;
  border-radius: 20px;
  margin-right: 15px;
}

.App-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar-home {
  margin-right: 20px;
  margin-top: 5px;
}
